<section class="section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>500</h1>
                <h1>Erro de aplicação!</h1>
                <p>{{error}}</p>
            </div>
        </div>
    </div>
</section>
