<section id="feature_category_section" class="feature_category_section category_page section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
{{#each (query data.posts paramFilter)}}
    {{#unless @key}}
				<div class="row">
					<div class="col-md-12">
						<div class="feature_news_item category_item">
							<div class="item">
								<div class="item_wrapper">
									<div class="item_img">
										<a href="/posts/{{fileName}}"><img class="img-responsive img_feature_list" src="{{meta.image}}"></a>
									</div>
									<div class="item_title_date">
										<div class="news_item_title">
											<h1><a href="/posts/{{fileName}}">{{meta.title}}</a></h1>
										</div>
										<div class="item_meta">{{moment meta.date 'DD-MMMM'}}, por: <a href="/list/author/{{meta.author}}">{{meta.author}}</a></div>
									</div>
								</div>
								<div class="item_content">{{meta.lede}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
    {{/unless}}
    {{#if @key}}
					<div class="col-md-6">
						<div class="feature_news_item">
							<div class="item">
								<div class="item_wrapper">
									<div class="item_img">
										<a href="/posts/{{fileName}}"><img class="img-responsive img_feature_list_item" src="{{meta.image}}"></a>
									</div>
									<div class="item_title_date">
										<div class="news_item_title">
											<h2><a href="/posts/{{fileName}}">{{meta.title}}</a></h2>
										</div>
										<div class="item_meta">{{moment meta.date 'DD-MMMM'}}, por: <a href="/list/author/{{meta.author}}">{{meta.author}}</a></div>
									</div>
								</div>
								<div class="item_content">{{condense meta.lede maxlen="80" truncation="..."}}</div>
							</div>
						</div>
					</div>
    {{/if}}
{{/each}}
				</div>
			</div>

            {{> sidebar}}
            
		</div>
    </div>
</section>
