{{> data-post}}

<section id="feature_category_section" class="feature_category_section single-page section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="single_content_layout">
                    <div class="item feature_news_item">
{{#if meta.image}}
                        <div class="item_img">
                            <img class="img-responsive" src="{{meta.image}}">
                            <p class="img_label">{{meta.imageLabel}}</p>
                        </div>
{{/if}}
                        <div class="item_wrapper">
                            <div class="news_item_title">
                                <h2>{{meta.title}}</h2>
                            </div>
                            <div class="item_meta">
                                {{moment meta.date 'DD-MMMM'}}, por: <a href="/list/author/{{meta.author}}">{{meta.author}}</a>
                            </div>
                            <!-- <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span> -->
                            <div class="single_social_icon">
                                <a class="icons-sm fb-ic" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <a class="icons-sm tw-ic" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <a class="icons-sm gplus-ic" href="#"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                <a class="icons-sm li-ic" href="#"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </div>
                            <div class="item_content">
                                {{{content}}}
                            </div>
                            <div class="item_meta">
                                Última atualização: {{moment meta.dateModified}}
                            </div>
                            <!-- <div class="category_list">
                                <a href="#">Messi</a>
                                <a href="#">Leonel</a>
                                <a href="#">Bercelona</a>
                                <a href="#">Argentina</a>
                                <a href="#">Football</a>
                            </div> -->
                        </div>
                    </div>
{{> ads-page}}
                    <!-- <div class="readers_comment">
                        <div class="single_media_title">
                            <h2>Comentários</h2>
                        </div>
                        <div id="disqus_thread"></div>
                    </div> -->
                </div>
            </div>
{{> sidebar}}
        </div>
    </div>
</section>
