{{#if config.site.adServer}}
                    <div class='header_ad_banner'>
                        <iframe src='{{config.site.adServer}}/468x60' width='468' height='60' frameborder='0' scrolling='no'></iframe>
                    </div>
{{/if}}
{{#if config.site.adSense}}
                    <!-- <div class='header_ad_banner'>
                        <ins
                            class='adsbygoogle'
                            style='display: block; width: 468px; height: 60px'
                            data-ad-client='{{config.site.adSense}}'
                            data-ad-slot='0000000000'>
                        </ins>
                    </div> -->
{{/if}}
