{{#if config.site.adServer}}
                    <div class="ad">
                        <iframe src="{{config.site.adServer}}/728x90" width="728" height="90" frameborder="0" scrolling="no"></iframe>
                    </div>
{{/if}}
{{#if config.site.adSense}}
                    <!-- <div class="ad">
                        <ins
                            class='adsbygoogle'
                            style='display: block; width: 728px; height: 90px'
                            data-ad-client='{{config.site.adSense}}'
                            data-ad-slot='0000000000'>
                        </ins>
                    </div> -->
{{/if}}
