{{#if config.site.adServer}}
    <div class="ad">
        <iframe src="{{config.site.adServer}}/125x125" width="125" height="125" frameborder="0" scrolling="no"></iframe>
        <iframe src="{{config.site.adServer}}/125x125" width="125" height="125" frameborder="0" scrolling="no"></iframe>
        <iframe src="{{config.site.adServer}}/125x125" width="125" height="125" frameborder="0" scrolling="no"></iframe>
        <iframe src="{{config.site.adServer}}/125x125" width="125" height="125" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="ad">
        <iframe src="{{config.site.adServer}}/250x250" width="250" height="250" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="ad">
        <iframe src="{{config.site.adServer}}/250x250" width="250" height="250" frameborder="0" scrolling="no"></iframe>
    </div>
{{/if}}
{{#if config.site.adSense}}
    <!-- <div class="ad">
        <ins
            class='adsbygoogle'
            style='display: block; width: 125px; height: 125px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
        <ins
            class='adsbygoogle'
            style='display: block; width: 125px; height: 125px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
        <ins
            class='adsbygoogle'
            style='display: block; width: 125px; height: 125px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
        <ins
            class='adsbygoogle'
            style='display: block; width: 125px; height: 125px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
    </div>
    <div class="ad">
        <ins
            class='adsbygoogle'
            style='display: block; width: 250px; height: 250px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
    </div>
    <div class="ad">
        <ins
            class='adsbygoogle'
            style='display: block; width: 250px; height: 250px'
            data-ad-client='{{config.site.adSense}}'
            data-ad-slot='0000000000'>
        </ins>
    </div> -->
{{/if}}
