<section id="feature_category_section" class="feature_category_section section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
{{#each data.categories}}
    				<div class="category_layout">
    					<div class="item_category blue">
    						<h2><a href="/list/category/{{name}}">{{name}}</a></h2>
                        </div>
    					<div class="row">
    {{#posts}}
    {{! #withSort (first posts 4) 'date' reverse=true}}
        {{#unless @index}}
    						<div class="col-md-7">
    							<div class="item feature_news_item">
    								<div class="item_wrapper">
    									<div class="item_img">
    										<a href="/posts/{{post.fileName}}"><img class="img-responsive img_category_news" src="{{post.meta.image}}"></a>
    									</div>
    									<div class="item_title_date">
    										<div class="news_item_title">
    											<h2><a href="/posts/{{post.fileName}}">{{post.title}}</a></h2>
    										</div>
    										<div class="item_meta">{{moment post.meta.date 'D-MMMM'}}, por: <a href="/list/author/{{post.meta.author}}">{{post.meta.author}}</a></div>
    									</div>
    								</div>
    								<div class="item_content"><a href="/posts/{{post.fileName}}">{{condense post.meta.lede maxlen="100" truncation="..."}}</a></div>
    							</div>
    						</div>
    						<div class="col-md-5">
    							<div class="media_wrapper">
        {{/unless}}
        {{#if @index}}
    								<div class="media">
    									<div class="media-left">
    										<a href="/posts/{{post.fileName}}"><img class="media-object img_list_news" src="{{post.meta.thumbnail}}"></a>
    									</div>
    									<div class="media-body">
    										<h3 class="media-heading"><a href="/posts/{{post.fileName}}">{{condense post.meta.title maxlen="32" truncation="..."}}</a></h3>
    										<p><a href="/posts/{{post.fileName}}">{{condense post.meta.lede maxlen="40" truncation="..."}}</a></p>
    									</div>
    								</div>
        {{/if}}
    {{/posts}}
    {{! /withSort}}
    							</div>
    						</div>
    					</div>
    				</div>
{{/each}}
		   		<div id="more_news_item" class="more_news_item">
					<div class="more_news_heading"><h2>More News</h2></div>
					<div class="row">
{{#each data.news}}
						<div class="col-md-4">
							<div class="feature_news_item">
								<div class="item">
									<div class="item_wrapper">
										<div class="item_img">
											<a href="{{url}}" target="_blank"><img class="img-responsive img_internet_news" src="{{image}}"></a>
										</div>
										<div class="item_title_date">
											<div class="news_item_title">
												<h3><a href="{{url}}" target="_blank">{{condense title maxlen="42" truncation="..."}}</a></h3>
											</div>
											<div class="item_meta"><a href="{{url}}" target="_blank">{{moment date 'D-MMMM'}}, fonte: {{source}}</a></div>
										</div>
									</div>
									<div class="item_content"><a href="{{url}}" target="_blank">{{condense lede maxlen="46" truncation="..."}}</a></div>
								</div>
							</div>
						</div>
{{/each}}
					</div>
				</div>
			</div>
{{> sidebar}}
		</div>
    </div>
</section>
