<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
{{#each data.tags}}
    {{#iff name '!=' config.site.content.featuredTag}}
        {{#iff name '!=' config.site.content.firstPageTag}}
    {
      "@type": "ListItem",
      "position": {{@index}},
      "item": {
        "@id": "/list/tag/{{name}}",
        "name": "Post"
      }
    }
        {{/iff}}
    {{/iff}}
    {{#if @last}}
    {{else}}
    ,
    {{/if}}
{{/each}}
  ]
}
</script>
