<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Article",
        "publisher": {
            "@type": "Organization",
            "name": "{{config.site.title}}",
            "logo": {
                "@type": "ImageObject",
                "name": "{{config.site.title}}-Logo",
                "width": "436",
                "height": "114",
                "url": "{{server}}/media/images/logo.png"
            },
            "email": "{{config.site.email}}"
        },
        "name": "{{meta.title}}",
        "author": {
            "@type": "Person",
            "name": "{{meta.author}}"
        }{{#if meta.image}},
        "image": "{{server}}{{meta.image}}"{{/if}},
        "headline": "{{condense meta.lede maxlen='100' truncation='...'}}",
        "datePublished": "{{meta.date}}",
        "dateModified": "{{moment meta.dateModified 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]'}}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{server}}{{pathName}}"
        }
    }
</script>
