<footer class='footer_section section_wrapper section_wrapper'>
    <div class='footer_top_section'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='text_widget footer_widget'>
                        <div class='footer_widget_title'>
                            <h2>Sobre {{config.site.title}}</h2>
                        </div>
                        <div class='footer_widget_content'>{{config.site.theme.about}}</div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='footer_widget'>
                        <div class='footer_widget_title'>
                            <h2>Descubra</h2>
                        </div>
                        <div class='footer_menu_item '>
                            <div class='row'>
                                <div class='col-sm-4'>
                                    <ul class='nav navbar-nav '>
{{#each data.categories}}
                                        <li><a href='/list/category/{{name}}'>{{name}}</a></li>
{{/each}}
                                    </ul>
                                </div>
                                <div class='col-sm-4 '>
                                    <ul class='nav navbar-nav  '>
{{#each data.tags}}
    {{#iff name '!=' 'Promoted'}}
        {{#iff name '!=' 'FirstPage'}}
                                        <li><a href='/list/tag/{{name}}'>{{name}}</a></li>
        {{/iff}}
    {{/iff}}
{{/each}}
                                    </ul>
                                </div>
                                <div class='col-sm-4'>
                                    <ul class='nav navbar-nav '>
                                        <li><a href='/posts/_report.md'>Relatar Problemas</a></li>
                                        <li><a href='/posts/_complains.md'>Reclamações & Correções</a></li>
                                        <li><a href='/posts/_terms.md'>Termos & Condições</a></li>
                                        <li><a href='/posts/_privacy.md'>Política de Privacidade</a></li>
                                        <li><a href='/posts/_cookies.md'>Política de Cookies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='text_widget footer_widget'>
                        <div class='footer_widget_title'>
                            <h2>Nossa Editora</h2></div>
                        <img class='img_author' src='/media/photos/carla-cursino.jpg' />
                        <div class='footer_widget_content'>{{config.site.theme.editor.bio}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href='#' class='crunchify-top'><i class='fa fa-angle-up' aria-hidden='true'></i></a>
    <div class='copyright-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    Editora: {{config.site.theme.editor.name}}
                </div>
                <div class='col-md-6'>
                    <div class='copyright'>
                        {{config.site.theme.copyright}} - {{config.site.title}}. Design by: {{config.site.theme.author}}
                    </div>
                </div>
                <div class='col-md-3'>
                    {{config.site.title}}
                </div>
            </div>
        </div>
    </div>
</footer>
