{{> data-breadcrumb}}
<header>
    <div class='container'>
        <div class='top_ber'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='top_ber_left'>
                        {{date 'now' 'D/MMMM/YYYY'}}. {{date 'now' 'dddd'}}. {{date 'now' 'H:mm'}}
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='top_ber_right'>
                        <!-- <div class='top-menu'>
                            <ul class='nav navbar-nav'>
                                <li><a href='/keystone/signin'>Login</a></li>
                                <li><a href='#'>Register</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class='header-section'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='logo'>
                        <a href='/'><img class='img-responsive img_logo' src='/media/images/logo.png'></a>
                    </div>
                </div>
                <div class='col-md-6'>
{{> ads-header}}
                </div>
                <div class='col-md-3'>
                    <div class='social_icon1'>
                        <span itemscope itemtype="http://schema.org/Organization">
                            <link itemprop="url" href="{{server}}">
                            {{#if config.site.youtube}}<a itemprop="sameAs" class='icons-sm pin-ic' href='{{config.site.youtube}}'><i class='fa fa-youtube'> </i></a>{{/if}}
                            {{#if config.site.instagram}}<a itemprop="sameAs" class='icons-sm pin-ic' href='{{config.site.instagram}}'><i class='fa fa-instagram'> </i></a>{{/if}}
                            {{#if config.site.twitter}}<a itemprop="sameAs" class='icons-sm tw-ic' href='{{config.site.twitter}}'><i class='fa fa-twitter'></i></a>{{/if}}
                            {{#if config.site.facebook}}<a itemprop="sameAs" class='icons-sm fb-ic' href='{{config.site.facebook}}'><i class='fa fa-facebook'></i></a>{{/if}}
                            {{#if config.site.google}}<a itemprop="sameAs" class='icons-sm gplus-ic' href='{{config.site.google}}'><i class='fa fa-google-plus'> </i></a>{{/if}}
                            {{#if config.site.linkedin}}<a itemprop="sameAs" class='icons-sm li-ic' href='{{config.site.linkedin}}'><i class='fa fa-linkedin'> </i></a>{{/if}}
                            {{#if config.site.pinterest}}<a itemprop="sameAs" class='icons-sm pin-ic' href='{{config.site.pinterest}}'><i class='fa fa-pinterest'> </i></a>{{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class='navbar main-menu navbar-inverse navbar-static-top' role='navigation'>
        <div class='container'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed pull-left' data-toggle='offcanvas'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
            </div>
            <div id='navbar' class='collapse navbar-collapse sidebar-offcanvas'>
                <ul class='nav navbar-nav'>
                    <li class='hidden'><a href='#page-top'></a></li>
                    <li class='visible-xs visible-sm'><a class='page-scroll' href='/'>Home</a></li>
{{#each data.tags}}
    {{#iff name '!=' config.site.content.featuredTag}}
        {{#iff name '!=' config.site.content.firstPageTag}}
                    <li><a class='page-scroll' href='/list/tag/{{name}}'>{{name}}</a></li>
        {{/iff}}
    {{/iff}}
{{/each}}
                </ul>
                <!-- <div class='pull-right'>
                    <form class='navbar-form' role='search'>
                        <div class='input-group'>
                            <input class='form-control' placeholder='Search' name='q' type='text'>
                            <div class='input-group-btn'>
                                <button class='btn btn-default' type='submit'><i class='fa fa-search' aria-hidden='true'></i></button>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </nav>
</header>
