<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='icon' href='/media/images/favicon.png' type='image/x-icon'>

	<title>{{config.site.title}}</title>

	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link href='/css/vendor/bootstrap.min.css' rel='stylesheet'>
	<link href='/css/vendor/owl.carousel.min.css' rel='stylesheet'>
	<link href='/css/vendor/owl.theme.default.min.css' rel='stylesheet'>
	<link href='/css/vendor/offcanvas.min.css' rel='stylesheet'>
	<link href='/css/style.min.css' rel='stylesheet'>

    <script src='/js/vendor/jquery.min.js'></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2138182754339695",
        enable_page_level_ads: true
      });
    </script>    
</head>
