<section id="feature_news_section" class="feature_news_section section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature_news_carousel">
					<div id="featured-news-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
{{#each data.featured}}
                            <div class="item {{#unless @index}}active{{/unless}} feature_news_item">
								<div class="item_wrapper">
									<div class="item_img">
										<a href="/posts/{{fileName}}"><img class="img-responsive img_feature_carousel_news" src="{{meta.image}}"></a>
									</div>
									<div class="item_title_date">
										<div class="news_item_title">
											<h2><a href="/posts/{{fileName}}">{{meta.title}}</a></h2>
										</div>
										<div class="item_meta">{{moment meta.date 'DD-MMMM'}}, por: <a href="/list/author/{{meta.author}}">{{meta.author}}</a></div>
									</div>
								</div>
								<div class="item_content">{{condense meta.lede maxlen="100" truncation="..."}}</div>
							</div>
{{/each}}
							<div class="control-wrapper">
								<a class="left carousel-control" href="#featured-news-carousel" role="button" data-slide="prev">
									<i class="fa fa-chevron-left" aria-hidden="true"></i>
								</a>
								<a class="right carousel-control" href="#featured-news-carousel" role="button" data-slide="next">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature_news_static">
					<div class="row">
{{#each data.firstPage}}
						<div class="col-md-6">
							<div class="feature_news_item">
								<div class="item active">
									<div class="item_wrapper">
										<div class="item_img">
											<a href="/posts/{{fileName}}"><img class="img-responsive img_first_page_news" src="{{meta.image}}"></a>
										</div>
										<div class="item_title_date">
											<div class="news_item_title">
												<h2><a href="/posts/{{fileName}}">{{meta.title}}</a></h2>
											</div>
											<div class="item_meta">{{moment meta.date 'D-MMMM'}}, por: <a href="/list/author/{{meta.author}}">{{meta.author}}</a></div>
										</div>
									</div>
									<div class="item_content">{{condense meta.lede maxlen="40" truncation="..."}}</div>
								</div>
							</div>
						</div>
{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
