<!-- <script id='dsq-count-scr' src='//synuts.disqus.com/count.js' async></script> -->
<!-- <script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script> -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122942828-1"></script>

<!-- <script src='/js/vendor/particles.min.js'></script> -->
<script src='/js/config.min.js'></script>
<!-- <script src='/js/canvas.min.js'></script> -->
<!-- <script src='/js/adSense.min.js'></script> -->
<script src='/js/analytics.min.js'></script>
<!-- <script src='/js/disqus.min.js'></script> -->

<script src='/js/vendor/owl.carousel.min.js'></script>
<script src='/js/vendor/bootstrap.min.js'></script>
<!-- <script src='/js/vendor/offcanvas.min.js'></script> -->
