<div class="col-md-3">
    <div class="tab sitebar">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Recentes</a></li>
            <!-- <li><a href="#2" data-toggle="tab">Popular</a></li> -->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
{{#withSort (first data.posts 4) 'date' reverse=true}}
                <div class="media">
                    <div class="media-left">
                        <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="{{meta.thumbnail}}"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="/posts/{{fileName}}">{{condense postTitle maxlen="40" truncation="..."}}</a></h4>
                        <span class="rating">
                            {{renderStars 4.5}}
                        </span>
                    </div>
                </div>
{{/withSort}}
            </div>
            <div class="tab-pane" id="2">
{{!-- #withSort (first posts 6) 'date' reverse=false --}}
                <!-- <div class="media">
                    <div class="media-left">
                        <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="{{meta.thumbnail}}"></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="/posts/{{fileName}}">{{condense postTitle maxlen="40" truncation="..."}}</a></h3>
                        <span class="rating">
                            {{renderStars 4.5}}
                        </span>
                    </div>
                </div> -->
{{!-- /withSort --}}
            </div>
        </div>
    </div>
{{> ads-sidebar}}
    <!-- <div class="most_comment">
        <div class="sidebar_title">
            <h2>Most Commented</h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="/media/images/img-list.jpg"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><a href="/posts/{{fileName}}">Spain going to made class football</a></h3>
                <div class="comment_box">
                    <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                    <div class="comments"><a href="/posts/{{fileName}}">9 Comments</a></div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="/media/images/img-list2.jpg"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><a href="/posts/{{fileName}}">Spain going to made class football</a></h3>
                <div class="comment_box">
                    <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                    <div class="comments"><a href="/posts/{{fileName}}">20 Comments</a></div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="/media/images/img-list3.jpg"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><a href="/posts/{{fileName}}">Spain going to made class football</a></h3>
                <div class="comment_box">
                    <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                    <div class="comments"><a href="/posts/{{fileName}}">23 Comments</a></div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="/posts/{{fileName}}"><img class="media-object img_list_news" src="/media/images/img-list3.jpg"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><a href="/posts/{{fileName}}">Spain going to made class football</a></h3>
                <div class="comment_box">
                    <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                    <div class="comments"><a href="/posts/{{fileName}}">44 Comments</a></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
