<section id="feature_video_item" class="feature_video_item section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="feature_video_wrapper">
					<div class="feature_video_title">
						<h2>Vídeos em Destaque</h2>
                    </div>
					<div id="feature_video_slider" class="owl-carousel">
{{#each data.videos}}
						<div class="item">
                            <div class="img_video_thumb">
                                <iframe width="349" height="189" src="https://www.youtube-nocookie.com/embed/{{video}}" frameborder="0"></iframe>
                                <!-- <a href="https://www.youtube-nocookie.com/embed/{{video}}" target="_blank">
                                    <img class="img_video_thumb" src="http://img.youtube.com/vi/{{video}}/0.jpg" />
                                </a> -->
                            </div>
							<div class="video_info">
								<div class="video_item_title">
                                    <h3><a href="{{url}}">{{lede}}</a></h3>
                                </div>
								<div class="item_meta">{{moment date 'DD-MMMM'}}</div>
							</div>
						</div>
{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
