<!DOCTYPE html>
<html lang='{{config.site.language}}'>

{{> links}}

    <body>
        <!-- <div id='particles' class='parallax'></div> -->
    	<div id='main-wrapper'>

{{> header}}

    {{{body}}}

{{> footer}}

        </div>

{{> scripts}}

    </body>

</html>
